@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-sans antialiased;
  }
}
:root {

}
.announcement {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: #6b2c2c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  z-index: 50;
  transition: transform 0.3s ease;
}

.announcement.hidden {
  transform: translateY(-100%);
}
